{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="exampleFormControlInput1"></label>
            <input autofocus name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select class="form-control" name="house" size="1" id="exampleFormControlSelect1" required>
              <option selected="selected" disabled>House</option>
              <option>Gryffindor</option>
              <option>Ravenclaw</option>
              <option>Hufflepuff</option>
              <option>Slytherin</option>
            </select>
            </div>
            <br>
            <div>
                Quidditch Position
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="quidditch" class="custom-control-input" value="Beater" required>
              <label class="custom-control-label" for="customRadio1">Beater</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="quidditch" class="custom-control-input" value="Chaser">
              <label class="custom-control-label" for="customRadio2">Chaser</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio3" name="quidditch" class="custom-control-input" value="Keeper">
              <label class="custom-control-label" for="customRadio3">Keeper</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio4" name="quidditch" class="custom-control-input" value="Seeker">
              <label class="custom-control-label" for="customRadio4">Seeker</label>
            </div>
        <br>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <script>

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

    </script>

{% endblock %}
