{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

  <p><b>Your Portfolio</b></p>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            {% for item in stocks %}
            <tr>
                <td>{{ item.symbol }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.shares }}</td>
                <td>{% if item.price %}{{ item.price|usd }}{% endif %}</td>
                <td>{{ item.total|usd }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

{% endblock %}